name = "cloudflare-docker-proxy"
compatibility_date = "2023-12-01"

[dev]
ip = "0.0.0.0"
port = 8787
local_protocol = "http"

[env.vars]
CUSTOM_DOMAIN = "fers.top"

[env.dev.vars]
MODE = "debug"
TARGET_UPSTREAM = "https://registry-1.docker.io"
CUSTOM_DOMAIN = "mirrors.fers.top"

[env.production]
name = "cloudflare-docker-proxy"
routes = [
  { pattern = "docker.mirrors.fers.top", custom_domain = true },
  { pattern = "quay.mirrors.fers.top", custom_domain = true },
  { pattern = "gcr.mirrors.fers.top", custom_domain = true },
  { pattern = "k8s-gcr.mirrors.fers.top", custom_domain = true },
  { pattern = "k8s.mirrors.fers.top", custom_domain = true },
  { pattern = "ghcr.mirrors.fers.top", custom_domain = true },
  { pattern = "cloudsmith.mirrors.fers.top", custom_domain = true },
    { pattern = "ecr.mirrors.fers.top", custom_domain = true },
]

[env.production.vars]
MODE = "production"
TARGET_UPSTREAM = ""

[env.staging]
name = "cloudflare-docker-proxy-staging"
# route = { pattern = "docker-staging.fers.top", custom_domain = true }

[env.staging.vars]
MODE = "staging"
TARGET_UPSTREAM = ""


# wrangler.toml (wrangler v3.79.0^)
[observability]
enabled = true
head_sampling_rate = 1